logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.log
phases.json
phAgent.json

# *.js
!.autod.conf.js
plummeted.json
topBids.json
server/blur/db/*
# app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
upload
build
dist